<!DOCTYPE html>
<html>
<head>
	<title>Quiz</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"><script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<style type="text/css">
		.loader {
		  border: 16px solid #f3f3f3;
		  border-radius: 50%;
		  border-top: 16px solid blue;
		  border-bottom: 16px solid blue;
		  width: 120px;
		  height: 120px;
		  -webkit-animation: spin 2s linear infinite;
		  animation: spin 2s linear infinite;
		}
	</style>
</head>

<body style="padding: 20px;">
<div class="container"> 

<div class="row">
<div class="col-sm-8">
	{% for question in questions %}
		{% if forloop.first %}
    		<div id={{ question.0 }} class="onselected" >
	    {% else %}
	        <div id={{ question.0 }} style="display:none;">
		{% endif %}
    <div class="card">
        <div class="card-header text-white bg-info mb-3" style="text-align:left;">
            {{ question.1 | safe }}
        </div>
        <div class="card-body" id="question">
            <p class="card-text">
                    <form method="post" action="answer/submit/">
						<input type="hidden" name="quesid" value={{ question.0 }} readonly>
                        {% csrf_token %}
						<div class="form-check">
						  <input class="form-check-input" type="radio" name={{ question.0 }}  value="1" >
						  <label class="form-check-label">
							{{ question.2 }}
						  </label>
						</div>
						<div class="form-check">
						  <input class="form-check-input" type="radio" name={{ question.0 }}  value="2" >
						  <label class="form-check-label">
							{{ question.3 }}
						  </label>
						</div>
						<div class="form-check">
						  <input class="form-check-input" type="radio" name={{ question.0 }}  value="3" >
						  <label class="form-check-label">
							{{ question.4 }}
						  </label>
						</div>
						<div class="form-check">
						  <input class="form-check-input" type="radio" name={{ question.0 }}  value="4" >
						  <label class="form-check-label">
							{{ question.5 }}
						  </label>
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
                    </form>
            </p>
         </div>
    </div>
			</div>
    {% endfor %}
</div>
<div class="col-sm-4">
	<div class="container">
		<div class="card">
			<div class="card-header bg-info text-white">
			    Featured
			</div>
			<div class="card-body">
				<div class="row">
				{% for question in questions %}
					<div class="col-sm-4" >
						{% if forloop.first %}
							<button onclick=showquestion({{ question.0 }}) >{{ forloop.counter }}</button>
						{% else %}
							<button onclick=showquestion({{ question.0 }}) >{{ forloop.counter }}</button>
						{% endif %}
					</div>
				{% endfor %}
				</div>
				</ul>
	  		</div>
		</div>
	</div>
</div>
</div>
</div>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
	<script type="text/javascript">
		function showquestion(he){
			var select=document.getElementsByClassName("onselected");
			$(select[0]).hide();
			$(select[0]).removeClass("onselected");
			$('#'+he).show();
			$('#'+he).addClass("onselected");
		}
	</script>
</body>
</html>
